<!DOCTYPE html>
<html lang="en">
<head>
    
    
    
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/fontawesome/css/all.css">
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/css/employee.css">
        <title>{{title}}</title>
    {% endblock %}
    
</head>
<body>

<div class="container">  
    <h1>Filter Employee Records</h1>
    <form id="filterform" class="form-inline" role="form" style="padding: 0px 16px" action="/search/" method="post">
        <div class="form-row">                        
            <div style="margin-bottom: 25px;margin-right:16px;max-width:220px;" class="input-group">
                <label for="filterName" style="width:100%;justify-content: flex-end;"><b>By Name</b></label>
                <input id="filterName" type="text" class="form-control" name="filterName" value="" placeholder="Filter By Name" >
            </div>
                
            <div style="margin-bottom: 25px;margin-right:16px;max-width:220px;" class="input-group">
                <label for="filterEmail" style="width:100%;justify-content: flex-end;"><b>By Email</b></label>
                <input id="filterEmail" type="text" class="form-control" name="filterEmail" value="" placeholder="Filter By Email" >
            </div>
                    
            <div style="margin-bottom: 25px;margin-right:16px;max-width:220px;" class="input-group">
                <label for="filterType" style="width:100%;justify-content: flex-end;"><b>By Employee Type</b></label>
                <select class="form-control" id="filterType" name="filterType" placeholder="Filter By Employee Type">
                    <option value="Hourly">Hourly</option>
                    <option value="Fixed">Fixed</option>
                </select>
            </div>

            <div style="" class="form-group">
                <!-- Button -->

                <div class="col-sm-12 controls" style="padding: 0px;">
                    <input type="submit" class="btn btn-primary" style="display:block;width:100%;" value="Submit">
                </div>
            </div>
        </div>


                
    </form>   



</div>



<div class="container">

    <h1>{{title}}</h1>
    {% if(msg.success != '') %}
    <div class="alert alert-success" role="alert">
        <b>Success: </b> {{msg.success}}
    </div>
    {% elseif(msg.error != '') %}
    <div class="alert alert-danger" role="alert">
        {{msg.error}}
    </div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Emp Type</th>
                <th>Houtly Rate</th>
                <th>Total Hours</th>
                <th>Total Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        {% if(records.length > 0) %}
            {% for row in records %}
        <tr>
            <td>{{row.name}}</td>
            <td>{{row.email}}</td>
            <td>{{row.etype}}</td>
            <td>{{row.hourlyrate}}</td>
            <td>{{row.totalHour}}</td>
            <td>{{row.total}}</td>
            <td>
                <a href="/edit/{{row._id}}" class="btn btn-primary btn-xs"><i class="far fa-edit"></i></a>
                <a href="/delete/{{row._id}}" class="btn btn-danger btn-xs"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="7" style="text-align:center;">Records Not Found</td>
        </tr>
        {% endif %}
    </table>
</div>


<div class="container">    
    <div id="loginbox" style="margin:50px auto 50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">                    
        <div class="panel panel-info" style="border: 2px solid #bce8f1">
                <div class="panel-heading" style="color: #31708f;background-color: #d9edf7;border-color: #bce8f1;padding: 10px 15px;border-bottom: 1px solid transparent;border-top-right-radius: 3px;border-top-left-radius: 3px;">
                    <div class="panel-title">Employee Detail Form</div>
                    <!--div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div-->
                </div>     

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        
                    <form id="loginform" class="form-horizontal" role="form" style="padding: 0px 16px" action="/" method="post">
                                
                        <div style="margin-bottom: 25px" class="input-group">
                            <input id="name" type="text" class="form-control" name="name" value="Guest05" placeholder="Enter your name">
                        </div>
                            
                        <div style="margin-bottom: 25px" class="input-group">
                            <input id="email" type="email" class="form-control" name="email" value="Guest05@gmail.com" placeholder="Email Address">
                        </div>
                                
                        <div style="margin-bottom: 25px" class="input-group">
                            <select class="form-control" id="etype" name="etype" placeholder="Employee Type">
                                <option value="Hourly">Hourly</option>
                                <option value="Fixed">Fixed</option>
                            </select>
                        </div>
                            
                        <div style="margin-bottom: 25px" class="input-group">
                            <input id="hourRate" type="text" class="form-control" name="hourRate" value="30" placeholder="Enter Hour Rate">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <input id="totalHour" type="text" class="form-control" name="totalHour" value="15" placeholder="Enter Total Hour">
                        </div>


                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls" style="padding: 0px;">
                                <input type="submit" class="btn btn-primary" style="display:block;width:100%;" value="Submit">
                            </div>
                        </div>


                             
                    </form>     



                    </div>                     
                </div>  
    </div>
    <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Sign Up</div>
                        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                    </div>  
                    <div class="panel-body" >
                        <form id="signupform" class="form-horizontal" role="form">
                            
                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>
                                
                            
                                
                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="email" placeholder="Email Address">
                                </div>
                            </div>
                                
                            <div class="form-group">
                                <label for="firstname" class="col-md-3 control-label">First Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="firstname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-md-3 control-label">Last Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" name="passwd" placeholder="Password">
                                </div>
                            </div>
                                
                            <div class="form-group">
                                <label for="icode" class="col-md-3 control-label">Invitation Code</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="icode" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- Button -->                                        
                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                    <span style="margin-left:8px;">or</span>  
                                </div>
                            </div>
                            
                            <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                                
                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                                </div>                                           
                                    
                            </div>
                            
                            
                            
                        </form>
                        </div>
                </div>

            
            
            
        </div> 
</div>



</body>
</html>